<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>

<body style="font-family: Arial; background:#eef2f7;">

<div style="
    width:350px;
    margin:100px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 2px 10px rgba(0,0,0,0.1);
">

<h2 style="text-align:center;">Forgot Password</h2>

{% if messages %}
<script>
{% for message in messages %}
alert("{{ message }}");
{% endfor %}
</script>
{% endif %}

<form method="POST">
{% csrf_token %}

<input type="text" name="username"
placeholder="Enter Username"
required
style="width:100%; padding:10px; margin:10px 0;">

<button type="submit"
style="width:100%; padding:10px; background:#2c7be5; color:white; border:none;">
Send OTP
</button>

</form>

<p style="text-align:center; margin-top:15px;">
<a href="{% url 'login' %}">Back to Login</a>
</p>

</div>

</body>
</html>
